<div class="main-content">
   
  <div class="titles-name">
    <div class="heading-title-name">
      <%= @content.title %>
    </div>
  </div>
  
  <div class="bers">
    <div class="content-ber"></div>
  </div>
  
  <div class="mains">
    <div class="content-main">
      <%= @content.text %>
    </div>
  </div>

  <div>
    <%= link_to "編集", edit_topic_content_path(@content.topic_id,@content.id), class: "send-btn" %>
  </div>

</div>