<div class="main-content">

  <div class="titles-name">
    <div class="heading-title-name">
      <%= @content.title %>
    </div>
  </div>
  
  <div class="bers">
    <div class="content-ber"></div>
  </div>
  
  <div class="mains">
    <div class="content-main">
      <%= safe_join(@content.text.split("\n"),tag(:br)) %>
    </div>
  </div>

  <div class="bers">
    <div class="content-ber ber"></div>
  </div>

  <div class="sends-btn">
      <%= link_to "編集ページへ", edit_topic_content_path(@content.topic_id,@content.id), class: "send-btns" %>
  </div>

  <div class="sends-btns">
      <%= link_to "戻る", "/", class: "send-btn" %>
  </div>

</div>