<div class="contents row">
  <div class="container">
    <h3 class="edit">編集または削除</h3>
      <%= form_with(model: @topic, local: true) do |topic| %>

        <div class="send-forms">
          <div>
            <%= topic.text_field :title_name,class:"send-form" %>
            <%= topic.submit "編集", class: "send-btn", id: "submit" %>
            <%= link_to "削除", topic_path, method: :delete, class:"topic-destroy" %>
          </div>
        </div>

      <% end %>
      <div class="edit-under"></div>
  </div>
</div>