.top {
  color: red;
}


/*************************************************************************
ヘッダー
*************************************************************************/

.header{
  height: 170px;
  width: 100vw;
}

.header-mains {
  padding: 6px 50px;
  margin: 5px;
  border: 1px solid black;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon{
  width: 10vw;
}

.header-right {
  display: flex;
  align-items: center;
}

.chat{
  text-decoration: none;
  font-size: 30px;
  margin-right: 40px;
}

.logout{
  text-decoration: none;
  font-size: 20px;
}