.top {
  color: red;
}

.main-body {
  width: 100vw;
}
/*************************************************************************
ヘッダー
*************************************************************************/

.header{
  height: 120px;
  width: 100vw;
}

.header-mains {
  padding: 6px 100px;
  margin: 5px;
  border: 1px solid black;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon{
  width: 18vw;
}

.header-right {
  display: flex;
  align-items: center;
}

.chat{
  text-decoration: none;
  font-size: 30px;
  margin-right: 40px;
  color: black;
}

.logout{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.login {
  padding-left: 30px;
}


/*************************************************************************
検索フォーム
*************************************************************************/

.form {
  display: flex;
  text-align: center;
}

.search-form {
  background-color: #e9e8e8;
  margin: 70px auto;
  display: flex;
}

.input-box {
  width: 700px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;  
}

.search-icon {
  height: 28px;
  cursor: pointer;
}


/*************************************************************************
新着情報
*************************************************************************/

.kensaku {
  background-color: bisque;
  margin: 30px 0;
}

.new-topics {
  margin-top: 30px;
  display: flex;
}

.left-pic {
  height: 350px;
  width: 380px;
}

.new-topic {
  height: 350px;
  width: calc(100vw - 760px);
  margin-bottom: 30px;
  overflow: scroll;
}

.right-pic {
  height: 350px;
  width: 380px;
}

.heading-name {
  text-align: center;
  font-size: 23px;
  border-bottom: 1px solid red;
  width: 150px;
  margin: 40px auto;
}

.messages {
  width: 50vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
}


/*************************************************************************
TOPIC
*************************************************************************/
.under-bar {
  margin: 0 30px;
  border: 0.5px solid black;
}

.topic-main {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  border-bottom: 1px solid red;
}



/*************************************************************************
TOPICリスト
*************************************************************************/
.topic-lists {
  display: flex;
  flex-direction: column;
}

.topic-titles {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}

.topic-titles>.topic-title {
  width: calc(50% - 15px);
  min-height: 60px;
  background-color: rgb(230, 230, 207);
  font-size: 25px;
  margin: 5px auto;
  border: 0.5px solid black;
  border-radius: 5px;
  line-height: 60px;
  color: rgb(80, 50, 50);
  position: relative;
}

.sends {
  height: 100px;
  margin-top: 50px;
}

.arrow-tag {
  position: absolute;
  top: 19px;
  right: 20px;
}

.send-message {
  width: 247px;
  margin: 10px auto 20px;
  text-align: center;
  font-size: 23px;
  border-bottom: 1px solid red;
  padding-top: 50px;

}

.send-forms {
  display: flex;
  justify-content: center;
}

.send-form {
  width: 700px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}

.send-btn {
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.error {
  width: 250px;
  margin: 10px auto;
  color: red;
  font-size: 20px;
}

.title-name {
  text-decoration: none;
  color: black;
}

/*************************************************************************
editページ
*************************************************************************/

.edit {
  width: 163px;
  margin: 100px auto 20px;
  font-size: 23px;
  border-bottom: 1px solid red;
}

.edit-under {
  height: 130px;
}

.topic-destroy {
  background-color: #EFEFEF;
  border: 1px solid #767676;
  text-decoration: none;
  color: black;
  padding: 11px 32px;
  border-radius: 3px;
}

.topic-destroy:hover {
  background-color: #e9e8e8;
}




/*************************************************************************
フッター
*************************************************************************/

.footer{
  margin-top: 200px;
  height: 100px;
  width: 100vw;
  margin-bottom: 10px;
}


.footer-main {
  padding: 6px 100px;
  margin: 5px ;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon{
  width: 18vw;
}

/*************************************************************************
未ログイン時の帯部分
*************************************************************************/

.title-contents {
  margin-top: 40px;
  width: 100vw;
  height: 50vh;
  background-image: url('furima-header01.jpg');
  background-size: cover;
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);

}

.service-title {
  font-size: 7vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.title-unders {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-under {
  font-size: 30px;
}

.login-form {
  display: flex;
  justify-content: center;
}